/*@font-face{
	font-family: "LatoB";
	src: url(../fonts/Lato-Bold.ttf);
}
*/
html { overflow-y: scroll;
 }

body{
	background:url(../mix/bg.jpg) center center fixed;
	background-size: cover;
	}
.logo{
	background:url(../images/logo.png);
	position:absolute;
    top:60px;
    left:24px;
    height:92px;
    width:334px;
    /*border: 3px solid #ccc;*/
}